In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#filtering only survey related data
filter_columns = [i for i in range(6,54)] + [79]

Importing csv files and parsing true, false and null values

In [ ]:
killinochchi_df = pd.read_csv('Killinochchi.csv',encoding='unicode_escape', true_values=['TRUE'], false_values=['FALSE'], na_values=['Null'], usecols=filter_columns)
colombo_df = pd.read_csv('Colombo.csv',encoding='unicode_escape', true_values=['TRUE'], false_values=['FALSE'], na_values=['Null'], usecols=filter_columns)
puttalam_df = pd.read_csv('Puttalam.csv',encoding='unicode_escape', true_values=['TRUE'], false_values=['FALSE'], na_values=['Null'], usecols=filter_columns)
kaligamauwa_df = pd.read_csv('Kaligamuawa.csv',encoding='unicode_escape', true_values=['TRUE'], false_values=['FALSE'], na_values=['Null'], usecols=filter_columns)
sumethradevi_df = pd.read_csv('Sumethradevi.csv',encoding='unicode_escape', true_values=['TRUE'], false_values=['FALSE'], na_values=['Null'], usecols=filter_columns)

In [ ]:
# merge all the dataFrames together
frames = [killinochchi_df, colombo_df, puttalam_df, kaligamauwa_df, sumethradevi_df]
ckd_df = pd.concat(frames)

In [ ]:
ckd_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1438 entries, 0 to 302
Data columns (total 49 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Occupation     480 non-null    object
 1   SourceofWater  1203 non-null   object
 2   Age            1438 non-null   int64
 3   Gender         1438 non-null   object
 4   GNCode         5 non-null      object
 5   MOH            1438 non-null   object
 6   BP             1374 non-null   object
 7   nHeight        1438 non-null   float64
 8   nWeight        1438 non-null   float64
 9   BMI            1438 non-null   float64
 10  bCKD           1438 non-null   bool
 11  CKD            6 non-null      object
 12  bDM            1438 non-null   bool
 13  DM             223 non-null    object
 14  bHNT           1438 non-null   bool
 15  vcHNT          238 non-null    object
 16  bHDL           1438 non-null   bool
 17  HDL            213 non-null    object
 18  bRenalCalculi  1438 non-null   bool
 19  RenalCalculi   15 non-null     object
 20  bMalaria       1438 non-null   bool
 21  Malaria        31 non-null     object
 22  bDengue        1438 non-null   bool
 23  Dengue         119 non-null    object
 24  bLepto         1438 non-null   bool
 25  Lepto          12 non-null     object
 26  bSnakeBite     1438 non-null   bool
 27  SnakeBite      52 non-null     object
 28  bCKDu          1438 non-null   bool
 29  CKDu           0 non-null      float64
 30  bUTI           1438 non-null   bool
 31  UTI            9 non-null      object
 32  bCancer        1438 non-null   bool
 33  Cancer         2 non-null      object
 34  bBA            1438 non-null   bool
 35  BA             20 non-null     object
 36  Other          126 non-null    object
 37  bCKDFamily     1438 non-null   bool
 38  CKDFamily      38 non-null     object
 39  bDMFamily      1438 non-null   bool
 40  DMFamily       333 non-null    object
 41  bHTNFamily     1438 non-null   bool
 42  HTNFamily      307 non-null    object
 43  bCKDUFamily    1438 non-null   bool
 44  CKDUFamily     0 non-null      float64
 45  bBAFamily      1438 non-null   bool
 46  vcBAFamily     6 non-null      object
 47  vcOtherFamily  170 non-null    object
 48  GFRckd         1375 non-null   object
dtypes: bool(18), float64(5), int64(1), object(25)
memory usage: 384.8+ KB

In [ ]:
ckd_df.sample(20)

,Occupation,SourceofWater,Age,Gender,GNCode,MOH,BP,nHeight,nWeight,BMI,...,bDMFamily,DMFamily,bHTNFamily,HTNFamily,bCKDUFamily,CKDUFamily,bBAFamily,vcBAFamily,vcOtherFamily,GFRckd
5,NaN,Well Water,47,F,NaN,KEGALLE,112/75,1.51,76.9,33.73,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,117 mL/m/1.73mÂ²
82,Goverment Servants,Well Water,37,F,NaN,POLGAHAWELA,124/81,1.64,64.0,23.80,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,113 mL/m/1.73mÂ²
70,NaN,Tap Water,58,F,NaN,BORALESGAMUWA,172/92,0.00,0.0,1.00,...,True,Sister,False,NaN,False,NaN,False,NaN,NaN,99 mL/m/1.73mÂ²
213,NaN,Tap Water,52,M,NaN,BORALESGAMUWA,100/60,1.69,72.0,25.21,...,False,NaN,False,NaN,False,NaN,False,NaN,Paralize(Father),104 mL/m/1.73mÂ²
19,Goverment Servants,Well Water,47,F,NaN,KEGALLE,145/90,1.63,78.5,29.55,...,False,NaN,True,Parents,False,NaN,False,NaN,IHD - Father,92 mL/m/1.73mÂ²
118,NaN,RO Filter,73,M,NaN,MAHAWEWA,140/70,1.60,52.0,20.31,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,50 mL/m/1.73mÂ²
317,NaN,RO Filter,56,M,NaN,MAHAWEWA,100/70,1.66,71.0,25.77,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,92 mL/m/1.73mÂ²
150,NaN,NaN,47,F,NaN,KEGALLE,122/81,1.56,58.0,23.83,...,True,Father /,False,NaN,False,NaN,False,NaN,Atharitiss- Mother,82 mL/m/1.73mÂ²
229,NaN,NaN,52,F,NaN,KELANIYA,118/82,1.53,55.0,23.50,...,True,Mother /,False,NaN,False,NaN,False,NaN,NaN,NaN
138,NaN,Well Water,65,F,NaN,MAHAWEWA,140/80,1.45,47.0,22.35,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,95 mL/m/1.73mÂ²
141,NaN,Tube well,70,F,NaN,MAHAWEWA,130/90,1.38,49.0,25.73,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,85 mL/m/1.73mÂ²
114,NaN,Tap Water,36,M,NaN,KILINOCHCHI / KARACHCHI,149/86,1.66,67.0,24.31,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,114 mL/m/1.73mÂ²
229,NaN,Tap Water,47,M,NaN,KEGALLE,124/79,1.61,46.5,17.94,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,105 mL/m/1.73mÂ²
163,NaN,NaN,62,F,NaN,MAHAWEWA,NaN,1.40,47.0,23.98,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,62 mL/m/1.73mÂ²
158,NaN,Tap Water,58,F,NaN,BORALESGAMUWA,100/70,1.60,60.0,23.44,...,True,Siblings /,False,NaN,False,NaN,False,NaN,NaN,84 mL/m/1.73mÂ²
297,NaN,Tube well,66,M,NaN,MAHAWEWA,120/85,1.76,65.0,20.98,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,75 mL/m/1.73mÂ²
149,NaN,NaN,32,F,NaN,MAHAWEWA,100/70,1.41,41.0,20.62,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,126 mL/m/1.73mÂ²
59,Goverment Servants,Well Water,36,F,NaN,WARAKAPOLA,102/64,1.62,62.6,23.85,...,False,NaN,False,NaN,False,NaN,False,NaN,NaN,117 mL/m/1.73mÂ²
277,Self Employed,Tap Water/RO Filter,33,M,NaN,GALLE M.C.,120/80,1.67,76.0,27.25,...,True,Mother,True,Mother,False,NaN,False,NaN,NaN,125 mL/m/1.73mÂ²
328,NaN,NaN,29,F,NaN,N.I.H.S. BERUWALA,107/70,1.54,43.0,18.13,...,False,NaN,False,NaN,False,NaN,False,NaN,IHD - Father,121 mL/m/1.73mÂ²

In [ ]:
ckd_df.to_csv('CKDuSurvey.csv')